body {
	background-color: black;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Play', sans-serif;
}

.container {
	height: 100%;
	
	
	background-repeat: no-repeat;
	
	color: lightgray;
}

#output {
	display: none;
}

p {
	position: relative;
	margin: 0px;
}

.well {
	background-color: #55556688;
	border-width: 0px;
}
